@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Accueil.css" />
    <title>Accueil</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Images/main_logo.png" />
        <p><a asp-page="MenuPizzas">Voir le menu</a></p>
    </div>
</body>
</html>


